<% comment_posts.each do |comment| %>

<div class="well">
  <strong class="pull-left primary-font">
    <% if comment.url.blank? %>
        <%= comment.name %>
    <% else %>
        <%= link_to comment.name, comment.url %>
    <% end %>
  </strong>

  <small class="pull-right text-muted">
    <span class="glyphicon glyphicon-time"></span> <%= comment.humanized_time_difference %></small>
  <br />
  <p><%= comment.content %></p>
</div>

<% end %>