<nav>
  <ul class="pager">
    <% unless posts.current_page == 1 %>
      <%= link_to 'Poprzednia', tagged_posts_page_path(tag_slug, posts.current_page - 1) %>
    <%end %>

    <% unless posts.current_page == posts.total_pages %>
      <%= link_to 'Następna', tagged_posts_page_path(tag_slug, posts.current_page + 1) %>
    <%end %>
  </ul>
</nav>