<%= render partial: 'meta', locals: {subtitle: @tag.name} %>
<%= render partial: 'posts', locals: {posts: @posts} %>
<%= render partial: 'paginate_tagged_posts', locals: {posts: @posts, tag_slug: @tag.slug} %>

<% @posts.each do |post| %>
    <p><%= post.comment_posts.humanize_count %></p>
<% end %>