<%= render partial: 'posts', locals: {posts: @posts} %>
<%= render partial: 'paginate_posts', locals: {posts: @posts} %>

<% @posts.each do |post| %>
    <p><%= post.comment_posts.humanize_count %></p>
<% end %>